<%= link_to("<< Back to profile page", {:action => 'index'}, :class => 'back-link') %>

<div>
  <h2>Create user profile</h2>

  <%= form_for(:users, :url => {:action => 'create'}) do |f| %>

    <table>
      <tr>
        <th>first Name</th>
        <td><%= f.text_field(:first_name) %></td>
      </tr>
     <tr>
        <th>last Name</th>
        <td><%= f.text_field(:last_name) %></td>
      </tr>
     <tr>
        <th>email address</th>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <th>bio</th>
        <td><%= f.text_field(:bio) %></td>
      </tr>
      
    </table>

    <div>
      <%= submit_tag("Create profile") %>
    </div>

  <% end %>
</div>

