<% @pid = @users.id%>
<% if !flash[:notice].blank? %>
          <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="col-xs-12 col-md-10">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Your Profile</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-10">
      <table>   
        <tr>
          <th>Name:&nbsp;</th>
          <td><%= @users.first_name %> <%= @users.last_name %> </td>
        </tr>
        <tr>
          <th>Bio: </th>
          <td><%= @users.bio %></td>
        </tr>
        <tr>
      </table>
      </div>
      
      <div class="col-md-2">
	<h4>Options</h4>
        <div class="small-text">
      <%= link_to "Edit profile", {:action => 'edit', :id => @users.id } %>
      <br />
      <%= link_to("Change Password", {:controller => 'accounts', :action => 'edit', :id => @users.id} , :class => 'action edit') %>
      <br />
      <%= link_to "View Your Recipes", user_recipes_path(@users, @recipes) %>
      <br />
      <%= link_to("Delete Account", {:controller => 'accounts', :action => 'delete', :id => @users.id} , :class => 'action edit') %> 
        </div>
      </div>
    </div>
  </div>
</div>






