<% @pid = @account.id%>
<div class="accounts edit">
  <h2>Edit Account </h2>

  <% if !flash.now[:notice].blank? %>
      <div class = "notice"><%= flash.now[:notice] %></div>
  <% end %>

  <%= form_tag :action => 'update' do %>

    <table summary="Account form fields">
      <tr>
        <th>Old Password</th>
        <td><%= text_field_tag(:oldpword) %></td>
      </tr>
      <tr>
        <th>New Password</th>
        <td><%= text_field_tag(:newpword1) %></td>
      </tr>
      <tr>
        <th>New Password</th>
        <td><%= text_field_tag(:newpword2)%></td>
      </tr>
    </table>

    <%= hidden_field_tag :id, @account.id %>

    <div class="form-buttons">
      <%= submit_tag("Update Account") %>
    </div>
  
  <% end %>
</div>
