<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div>
  <h2>Edit Recipe</h2>

  <%= form_for(:recipes, :url => {:controller => 'recipes', :action => 'update'}, :html => { :method => :put}) do |f| %>

    <table summary="Recipe form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:recipeName) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_field(:recipeDescription) %></td>
      </tr>
      
    </table>

    <div class="form-buttons">
      <%= submit_tag("Update Recipe") %>
    </div>

  <% end %>
</div>

