
<% if !flash[:notice].blank? %>
          <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div>
  <h2>Recipes</h2>
  <%= link_to("Add New Recipe",{:controller => 'recipes', :action => 'new'}, :class =>
        'action new') %>

  <table>
    <tr>
      <th>Id</th>
      <th>Recipe</th>
      <th>Actions</th>
    </tr>
    <% @users.recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.id %></td>
      <td><%= recipe.recipeName %></td>     
      <td>
        <%= link_to("Show", { :controller => 'recipes', :action => 'show', :id => recipe.id }, :class => 'action show') %>
        <%= link_to("Edit", { :controller => 'recipes', :action => 'edit', :id => recipe.id }, :class => 'action edit') %>
        <%= button_to("Delete", user_recipe_path(recipe.user, :id => recipe.id), method: :delete, :confirm=> "Are you sure?" ) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to("Back to Profile", user_path(@users)) %>

